.Return {
    &_title {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #252525;
        margin-bottom: 20px;
    }

    &_text {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #252525;
        margin-bottom: 10px;
    }
}